#root {}

* {
    /*font-family: sans-serif !important;*/
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center-block {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.container {

}
